{% extends 'index.htm' %}
{% load static %}


    {% block content %}


<form action="{% url 'register'%}" method="POST">
    {%csrf_token%}
    <span>{{form.username.label_tag}}</span>
    <span>{{form.username}}</span>
    <span class="input">{{form.password}} </span>
    <input type="submit" value="login" />
</form>



<div class="container">
    {% if form.errors %}
    <h4>Login or password entered incorrectly!</h4>
    {% endif %}
    <h6>
        <a href="{% url 'password_reset'%}">
            Forgot your password
    </a>
    </h6>
    <br>
    {% if user.is_authenticated %}
    <a href="{%url 'logout'%}" class="button is-danger">Log out</a>
    {%endif%}
</div>

{% endblock %}