{% extends 'index.htm' %}
{% load static %}

{% block content %}
   


<div class="columns is-flex is-justify-content-space-around">
  <div class="column is-8">
    <form action="{% url 'search_result' %}" method="GET" class="is-flex">
      <input type="search" name="search" class="input">
      <button class="button is-danger">search</button>
    </form>






   <h1 class="title has-text-centered has-text-danger is-1">Hot news!!!!</h1> <hr>
    <div class="column is-flex is-justify-content-space-around"> 
      {% for posts in popular %}
      <div class="columns" > 
        <a href="{{posts.get_absolute_url}}">
        <div class="column " >
        <div class="card " style="width: 350px; height: 500px; border-radius: 20px;">
            <div class="card-image">
              <figure class="image is-4by3" >
                <img src="{{ posts.image.url }}"style="border-radius: 20px 20px 0px 0px;" >
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
              
                <div class="media-content">
                  <p class="title is-4">{{ posts.title  }}</p> 
             
                </div>
              </div>
    
                  <p>{{ posts.description }}</p>
             
                <br>
               <p>{{ posts.date|date:"J D F, Y"}}</p>
              </div>
            </div>
          </div>
        </a>
        </div>
           {% endfor %}
        </div> <hr>



    




<div class="column is-flex is-justify-content-space-around"> 
  {% for posts in post %}
  <div class="columns" > 
    <a href="{{posts.get_absolute_url}}">
    <div class="column " >
    <div class="card " style="width: 350px; height: 500px; border-radius: 20px;">
        <div class="card-image">
          <figure class="image is-4by3" >
            <img src="{{ posts.image.url }}"style="border-radius: 20px 20px 0px 0px;" >
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
          
            <div class="media-content">
              <p class="title is-4">{{ posts.title  }}</p> 
         
            </div>
          </div>

              <p>{{ posts.description }}</p>
         
            <br>
           <p>{{ posts.date|date:"D F, Y"}}</p>
          </div>
        </div>
      </div>
    </a>
    </div>
       {% endfor %}
    </div>

      
 
    {% endblock %}