{% extends 'index.htm' %}
{% load static %}

{% block content %}
<div class="is-flex is-justify-content-center">

<form action="{% url 'register'%}" method="POST">
    {%csrf_token%}
    <label for="">{{form.username.label}}</label>
    <div style="width: 350px;">{{form.username}}</div>

    <label for="">{{form.email.label}}</label>
    <div style="width: 350px;">{{form.email}}</div>

    <label for="">{{form.password1.label}}</label>
    <div style="width: 350px;">{{form.password1}} </div>

    <label for="">{{form.password2.label}}</label>
    <div style="width: 350px;">{{form.password2}} </div> <br>
    <button class="button is-danger">Royhatdan otish</button>
    <button class="button"><a href="{% url 'login'%}">Kirish</button></a>
    <button class="button">
        <a href="{% url 'index' %}">
            Asosoiy sahifa
        </a>
    </button>

</form>
</div>
{% endblock content %}